html {
    background-color: #F3C583
    ;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #E99497;
    padding: 20px;
    margin-top: 50px;
    border: 5px dashed rgb(53, 53, 53);
    box-sizing: border-box;
}

.marg {
    margin-top: 5px;
    margin-bottom: 5px;
}

.contentfont {
    font-family: 'Mitr', sans-serif;
    color: rgb(43, 43, 43);
}

.borderimg {
    /* border: 3px dashed #222222;
    border-radius: 5px; */
    padding: 1.5px;
    box-sizing: border-box;
   
}
.textcenter {
    text-align: center;
}

.upperhead {
    font-family: 'Otomanopee One', sans-serif;
    text-align: center;
    font-size: 30px;
    color:#B3E283;
    text-shadow: 4px 2px #696969;
} 

.mainimg {
    display: block;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;

}

.mainimg:hover {
    box-shadow: 0 0 2px 3px rgba(255, 226, 65, 0.5);
}